[submodule "PDGE"]
	path = PDGE
	url = git@github.com:Ludvins/Practicas_PDGE.git
[submodule "PE/Tiempo continuo"]
	path = PE/Tiempo continuo
	url = https://github.com/Ludvins/Practicas_PE
[submodule "MAAA"]
	path = MAAA
	url = https://github.com/Ludvins/Practicas_MAAA
[submodule "CN"]
	path = CN
	url = https://github.com/Ludvins/Practicas_CN
[submodule "GD/Tratamiento datos"]
	path = GD/Tratamiento datos
	url = https://github.com/Ludvins/Practicas_GD
[submodule "TI/Practica"]
	path = TI/Practica
	url = https://github.com/Ludvins/Practicas_TI
[submodule "APPIB"]
	path = APPIB
	url = https://github.com/antcc/practicas-biometria
[submodule "AR"]
	path = AR
	url = https://github.com/antcc/reinforcement-learning
[submodule "MF"]
	path = MF
	url = https://github.com/antcc/functional-ml
[submodule "PIT"]
	path = PIT
	url = https://github.com/antcc/practicas-pit
